@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Doto:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Archivo', sans-serif;
    transition: all 0.3s;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    height: 40%;
    background-image: url('../Recursos/Fondo_Aritmética.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    flex: 1;
    background: linear-gradient(#000000, #000000);
    box-shadow: 0px 0px 500px 500px #000000;
}

main h1 {
    color: #6200ff;
    margin: 0;
    text-align: center;
    font-family: 'Doto', sans-serif;
    font-size: 5vh;
    text-shadow: 0 0 100px #d000ff, 0 5px 10px #000000;
    z-index: 1;
}

main h2 {
    color: #ffffff;
    margin: 0;
    text-align: center;
    font-size: 6vh;
    letter-spacing: -1px;
    line-height: 0.9;
    text-shadow: 0 0 100px #ff00ee, 0 5px 25px #000000;
    z-index: 1;
}

.Contenedor {
    width: 100%;
    height: 78%;
    position: absolute;
    top: 14vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Input {
    width: 50%;
    height: 25%;
    background-color: #2a2a2a;
    border: 2px solid #2a2a2a;
    border-radius: 1.5vh;
    margin: 8vh 0 0 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 0px 0px 800px 80px #3c00ff71, 
                0px 5px 20px 5px #000000;
    z-index: 0;
}

.Invalido {
    border: 2px solid #ff0000;
}

.Input label {
    color: #ffffff;
    font-size: 2vh;
    font-weight: 200;
    padding: 0.8vh 2vh;
}

.Input input {
    flex: 1;
    background-color: #000000;
    outline: none;
    border: none;
    color: #d900ff;
    text-align: center;
    font-family: 'Doto', sans-serif;
    font-size: 6vh;
    font-weight: 500;
    padding: 0.8vh 2vh;
}

.Resultado {
    margin: 3vh 0 0 0;
}

#Resultado {
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
}

#Resultado h3 {
    font-family: 'Doto', sans-serif;
    margin: 0;
    color: #ffd000;
    font-size: 3vh;
    font-weight: 600;
}

#Resultado h4 {
    font-family: 'Doto', sans-serif;
    margin: 0;
    color: #9dff00;
    text-align: center;
    font-size: 8vh;
    font-weight: 700;
}

#Error {
    font-family: 'Doto', sans-serif;
    margin: 0;
    color: #ff0000;
    font-size: 3vh;
    font-weight: 800;
    display: none;
}

footer {
    background: linear-gradient(#0f0f0f, #000000);
    color: #ffffff;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 0px 250px #d000ff, 0px 0px 250px #3c00ff71;
}

footer p {
    margin: 0;
    text-align: center;
    font-family: 'Inter', sans-serif;
}

footer :nth-child(1) {
    color: #ffffff;
    font-size: 1.5vh;
    font-weight: 800;
    margin: 0;
}

footer :nth-child(2) {
    color: #c9c9c9;
    font-size: 1.4vh;
    font-weight: 600;
    margin: 3px 0 8px 0;
}

footer :nth-child(3) {
    color: #6f6f6f;
    font-size: 1.3vh;
    font-weight: 300;
    line-height: 0.8;
    margin: 0;
}

footer :nth-child(4) {
    color: #6f6f6f;
    font-size: 1.3vh;
    font-weight: 300;
    font-style: italic;
    line-height: 0.9;
    margin: 0;
}
