@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Kanit', sans-serif;
    box-sizing: border-box;
    transition: all 0.2s;
}

body {
    background: linear-gradient(170deg, #ffffff, #7e4a4a);
    height: 100vh;
    padding: 3.5vw;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 6fr;
    gap: 2vw;
    overflow: hidden;
}

body > div {
    border-radius: 10px;
    box-shadow: 0 0 10px #00000095;
    position: relative;
    overflow: hidden;
}

h1 {
    background: linear-gradient(170deg, #791111, #0d0000);
    color: #ffffff;
    border: solid 2px #ae5050;
    border-radius: 10px;
    font-size: 6vh;
    padding: 0 5vh;
    margin: 0;
    box-shadow: 0 0 10px #00000095;
    align-content: center;
    position: relative;
    overflow: hidden;
}

.Data {
    background: linear-gradient(20deg, #ffe8be, #eda5a5);
    border: solid 2px #ae5050;
    padding: 5vh;
}

.Total {
    background: linear-gradient(-20deg, #ffe4b1, #d69595);
    border: solid 2px #ae5050;
}

.MemId {
    background: linear-gradient(-20deg, #eeb853, #da6969);
    border: solid 2px #ffe4b1;
    border-radius: 2vh;
    padding: 2vh;
    font-size: 4vh;
    box-shadow: 0 0 10px #00000095;
    margin: 2vh 0;
    display: flex;
    justify-content: center;
}

.MemId input {
    font-size: 4vh;
}

.MemId input::-webkit-outer-spin-button,
.MemId input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input {
    background-color: #ffa7a723;
    color: #fff2d7;
    border: none;
    border-radius: 7px;
    border-bottom: solid 2px #ffe4b1;
    margin: 0 0.5vw;
    font-weight: 400;
    text-align: center;
}

input:hover {
    border-bottom: solid 2px #cf0c0c;
}

input:focus {
    border-bottom: solid 2px #6f0606;
    font-weight: 400;
    color: #6f0606;
    outline: none;
}

input::placeholder {
    color: #000000;
}

.MemName {
    padding: 2vh;
    font-size: 3vh;
    margin: 2vh 0;
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 1vh;
}

.MemName label {
    justify-self:end;
}

.MemName input {
    width: 67%;
    font-size: 3vh;
}

.ContPay {
    background: linear-gradient(-20deg, #eeb85340, #da696940);
    border: solid 2px #ffe4b1;
    border-radius: 2vh;
    margin: 2vh 0;
    box-shadow: 0 0 10px #00000095;
    display: flex;
    justify-content: center;
}

.ContPay > div {
    background: linear-gradient(-20deg, #eeb853, #da6969);
    border: solid 2px #ffe4b1;
    border-radius: 2vh;
    box-shadow: 0 0 10px #00000095;
    width: 19vw;
    height: 16vh;
    padding: 1.5vh;
    margin: 2vh;
    display: grid;
    grid-template-rows: 1fr 2fr;
}

.ContPay > div h3{
    color: #ffe4b1;
    font-size: 2.2vh;
    font-weight: 500;
    margin: 0 2vh;
    align-self: center;
}

.Insc div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Insc label {
    font-size: 2vh;
}

.AddMonts > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.AddMonts label {
    font-size: 2vh;
}

.AddMonts > div > div {
    display: flex;
    justify-content: center;
}

#Months {
    width: 25%;
    font-size: 2vh;
}

.Total {
    padding: 3vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
} 

.Total h2 {
    background: linear-gradient(170deg, #791111, #0d0000);
    color: #ffe4b1;
    border-radius: 1.5vh;
    padding: 0 2vh;
    margin: 0;
    font-size: 2.8vh;
    font-weight: 500;
    box-shadow: 0 0 10px #00000095;
} 

.Total h3 {
    color: #444444;
    padding: 0 2vh;
    margin: 0 0 2vh 0;
    font-size: 3vh;
    font-weight: 500;
} 


.Total h3 span {
    color: #000000;
    margin: 0;
    font-size: 4vh;
    font-weight: 500;
}

#TotPay {
    font-size: 6vh;
    font-weight: 600;
}

Button {
    background-color: #ffe4b1;
    color: #cf0c0c;
    border: solid 1px #cf0c0c;
    border-radius: 8px;
    font-size: 3vh;
    box-shadow: 0 0 10px #00000095;

}

Button:hover {
    background-color:  #cf0c0c;
    border: solid 1px #cf0c0c;
    color: #ffe4b1;
}

.Cont {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#BtnMod {
    width: 30%;
}